.navbar{
    position: fixed;
    background-color: rgb(72, 67, 67);
    left:0;
    right:0;
    top:0;
    height:90px;
}
.textNav{
    color:white;
}
.navImg{
    height:80px;
    top:0;
}
body{
    background-image: url(background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.albumname{
    color:white;
    margin-top: 120px;
    
}
.bottom{
    position:sticky;
    height:40px;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items:center;
    
}


#progressBar{
    width:80vw;
    cursor: pointer;
} 
footer{
    background-color: rgb(50, 48, 48);
    background-attachment: fixed;
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
    color:white;
    
}
.previous{
    height:50px;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items:center;
}

.songItem{
    color:white;
    margin-top: 10px;
    background-color: rgb(117, 112, 112);
    padding:3px;
    width:60%;
    border-radius:10px;
    display:flex;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.timestamp {
    display: flex;
    align-items: center;
  }
.songInfo{
    color:white;
    margin-right:10px;
    margin-left: 20px;
    font-family:cursive;
}
.songList{
    margin-bottom:500px;
    margin-top: 50px;
}